---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Senior Software Engineering",
    company: "Skolmi.com",
    description:
      "Lideré el equipo de ingenieros para optimizar la escalabilidad y rendimiento de sistemas, aumentando en un 50% su eficiencia para soportar tráfico de gran volumen. Diseñé e implementé soluciones innovadoras en AWS, incrementando en un 40% la eficiencia operativa respecto a métodos previos, y optimicé recursos técnicos que redujeron costos en un 20%. Gestioné proyectos de migración a entornos en la nube, asegurando alta disponibilidad y seguridad durante todo el proceso",
    link: "https://skolmi.com",
  },
  {
    date: "Diciembre 2021",
    title: "Senior Software Developer FullStack",
    company: "Skolmi.com",
    description:
      "Diseñé y desarrollé el sitio web de la empresa, alcanzando altos estándares de usabilidad y rendimiento y logrando 84,000 visitas anuales. Creé un microservicio para procesar 10,000 transacciones al año, optimizando la eficiencia operativa, e implementé una funcionalidad de generación de documentos institucionales que ahorra 200 horas anuales en el área de atención al cliente.",
    link: "https://skolmi.com",
  },
  {
    date: "Enero 2022",
    title: "Senior Software Developer FullStack",
    company: "Medusa Lab",
    description:
      "Colaboré con equipos multifuncionales en el diseño e implementación de arquitecturas de software para clientes de alto perfil, incluyendo Biosolutions, Cubikan Biosolutions, Live Music Aruba y Creative Agency, logrando la satisfacción del cliente y la finalización exitosa de cada proyecto. Lideré un equipo de desarrolladores, incrementando la productividad del equipo en un 30% mediante entregas puntuales y cumplimiento de requisitos, y utilicé metodologías ágiles para reducir un 20% los plazos de desarrollo y aumentar la eficiencia general en un 15%.",
      link: "https://medusalab.dev",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
