---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "2022 - Actualmente...",
    title: "Senior Software Engineering",
    company: "Skolmi.com",
    description:
      "Lideré el equipo de ingenieros para optimizar la escalabilidad y rendimiento de sistemas, aumentando en un 50% su eficiencia para soportar tráfico de gran volumen. Diseñé e implementé soluciones innovadoras en AWS, incrementando en un 40% la eficiencia operativa respecto a métodos previos, y optimicé recursos técnicos que redujeron costos en un 20%. Gestioné proyectos de migración a entornos en la nube, asegurando alta disponibilidad y seguridad durante todo el proceso",
    link: "https://skolmi.com",
    image: "/companies/skolmi.png"
  },
  {
    date: "2021 - 2022",
    title: "Senior Software FullStack Developer",
    company: "Skolmi.com",
    description:
      "Diseñé y desarrollé el sitio web de la empresa, alcanzando altos estándares de usabilidad y rendimiento y logrando 84,000 visitas anuales. Creé un microservicio para procesar 10,000 transacciones al año, optimizando la eficiencia operativa, e implementé una funcionalidad de generación de documentos institucionales que ahorra 200 horas anuales en el área de atención al cliente.",
    link: "https://skolmi.com",
    image: "/companies/skolmi.png"
  },
  {
    date: "2022 - 2024",
    title: "Senior Software FullStack Developer",
    company: "Medusa Lab",
    description:
      "Colaboré con equipos multifuncionales en el diseño e implementación de arquitecturas de software para clientes de alto perfil, incluyendo Biosolutions, Cubikan Biosolutions, Live Music Aruba y Creative Agency, logrando la satisfacción del cliente y la finalización exitosa de cada proyecto. Lideré un equipo de desarrolladores, incrementando la productividad del equipo en un 30% mediante entregas puntuales y cumplimiento de requisitos, y utilicé metodologías ágiles para reducir un 20% los plazos de desarrollo y aumentar la eficiencia general en un 15%.",
      link: "https://medusalab.dev",
    image: "/companies/medusa.svg"
  },
  {
    date: "2023",
    title: "Senior Software Backend Developer",
    company: "Let's do it now!",
    description:
      "Diseñé y desarrollé soluciones backend utilizando Python y Django, asegurando alto rendimiento y escalabilidad. Mis logros clave incluyeron la creación de contenedor y ambiente de desarrollo de la aplicación utilizando Docker para garantizar estabilidad y despliegues optimizados. Además, mejoré la funcionalidad y el rendimiento del backend, desempeñando un papel fundamental en la optimización del sistema. Este proyecto demostró mi capacidad para construir aplicaciones robustas, Stack utilizado: Python, Django, VueJs, AWS Elastic Beanstalk y Docker.",
      link: "https://www.letsdoitnow.us/",
    image: "/companies/letsdoitnowus_logo.jpeg"
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
